################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wweb/Biblioteca/.vs/Biblioteca/FileContentIndex/85609570-9cc9-4eb4-a6a7-71ba639cab6a.vsidx
/wweb/Biblioteca/.vs/Biblioteca/FileContentIndex/a71e71b5-3813-4283-8674-58833fe3befb.vsidx
